<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">


<servlet>

<servlet-name>abc</servlet-name>
<servlet-class>com.tech.blog.servlets.RegisterServlet</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>abc</servlet-name>
<url-pattern>/RegisterServlet</url-pattern>

</servlet-mapping>

<servlet>

<servlet-name>xyz</servlet-name>
<servlet-class>com.tech.blog.servlets.LoginServlet</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>xyz</servlet-name>
<url-pattern>/LoginServlet</url-pattern>

</servlet-mapping>


<servlet>

<servlet-name>uvw</servlet-name>
<servlet-class>com.tech.blog.servlets.LogoutServlet</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>uvw</servlet-name>
<url-pattern>/LogoutServlet</url-pattern>

</servlet-mapping>

<servlet>

<servlet-name>sdf</servlet-name>
<servlet-class>com.tech.blog.servlets.EditServlet</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>sdf</servlet-name>
<url-pattern>/EditServlet</url-pattern>

</servlet-mapping>


<servlet>

<servlet-name>akj</servlet-name>
<servlet-class>com.tech.blog.servlets.AddPostServlet</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>akj</servlet-name>
<url-pattern>/hy</url-pattern>

</servlet-mapping>



</web-app>
